.cool-txt {
  display: inline-block;
  background-color: rgba($color: #000, $alpha: .3);
  color: white;
  padding: .2rem .6rem;
  margin: 1px;
}

.animate{
  transform-origin: top left;
  // transform: scaleX(0);
  clip-path: inset(0px 100%);
  animation: clipPath  600ms ease-in-out forwards;
}

@keyframes clipPath {
  0% {
    clip-path: inset(0px 100% 0 0);
  }
  100% {
    clip-path: inset(0px 0 0 0);
  }
}




.homeContainer {
  text-align: left;
}

